$border-radius: 5px;

.create-configuration {
    height: 42vH;
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.05);
    h2, p{
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        color: white;
    }
    p {
        margin-top: 15px;
    }
    input, button {
        padding: 10px;
        border: 1px solid rgb(60, 46, 170);
        border-radius: 5px;
        margin-top: 5px;
        background-color: rgba(255,255,255,1);
    }
    button {
        margin-top: 25px;
    }

    .custom-btn {
        background: linear-gradient(110deg, rgba(85, 101, 203, 0.5) 0%,rgba(160, 173, 254, 0.5) 100%);
        border: none;
        max-width: 80%;
        height: auto;
        color: #fff;
        border-radius: $border-radius;
        padding: 10px 25px;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.3s ease;
        margin: 1em 0 0 0;
        text-decoration: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        align-self: flex-start;
    
        p{
          margin: 0;
        }
    
      }

    .custom-btn:after {
        content: "";
        width: 0;
        height: 100%;
        z-index: -1;
        background-color: #dedede;
        border-radius: $border-radius;
        transition: all 0.5s ease;
      }
      
      .custom-btn:hover {
        box-shadow: 0px 2px 10px rgba(0,0,0,0.6);
        cursor: pointer;
        background-color: rgba(230,230,230,0.3);
      }
      
      .custom-btn:hover:after {
        left: 0;
        width: 100%;
      }


}
